@model EFLabAssignment.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<h1>Category Details</h1>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedDate)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
